h1{
    font-size: 52px;
    font-weight: bolder;
    background-color: lightblue;
    border: 6px solid black;
    text-shadow: 2px 5px white;
    padding: 30px 30px;
    margin: 0px auto;
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s linear;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading{
    background-color: coral;
    color: white;
    text-shadow: 2px 5px black;
    border: 5px dashed black;
    cursor: pointer;
}